{{#partial "body"}}
    <div class="jumbotron">
        <div class="container">
            <h2>{{title}}</h2>
        </div>
    </div>

    <div class="container" id="body">
        <span class="app-span app-rounded">{{text}}</span>
    </div>
{{/partial}}

{{>base}}
